<%= @task.each do |task| %>
	<div>
		<h3>Name: <%= task.name %></h3>
		<h4>Description: <%= task.description %></h4>
		<h4>Status: <%= task.status %></h4>
		<h4>Priority: <%= task.priority %></h4>
	<div>
<% end %>