<h1>Add new task</h1>
<div>
	<%= form_for(@task) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :description %>
		<%= f.text_field :description %>

		<%= f.label :status %>
		<%= f.text_field :status %>

		<%= f.label :priority %>
		<%= f.text_field :priority %>

		<%= f.submit "Add Task" %>
	<% end %>
</div>
