<h2>Add new task</h2>
<div>
	<%= form_for(@task) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :description %>
		<%= f.text_field :description %>

		<%= f.label :status %>
		<%= f.select :status, Task.all_status %>

		<%= f.label :priority %>
		<%= f.select :priority, Task.all_priorities %>

		<%= link_to 'Cancel', tasks_path%>
		<%= f.submit "Add Task" %>
	<% end %>
</div>
